*
    // border: 1px black solid
.post
    display: flex
    justify-content: center
    color: #4E5166
.app
    display: flex
    flex-direction: column
    align-items: center
.createPost
    width: 100%
.home
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    button
        background: white
        margin-bottom: 20px
        border-color: #ffd7d0
        border-radius: 30px
        width: 12%
        height: 45px
        font-weight: bold
        cursor: pointer
    .post-form
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 100%
        height: 200px
        .post-input
            display: flex
            justify-content: center
            width: 40%
            height: 100%
            border-radius: 10px
            border-color: #FFD7D7
        .post-pic , .post-submit, .post-image
            width: 40%
            height: 40px
            border-radius: 10px
            border-color: #FFD7D7
            background-color: white
            cursor: pointer
        .post-image
            display: flex
            padding-top: 25px
        .post-submit
            height: 100%
        .image-submit
            display: flex
            justify-content: center
            width: 50%
            height: 50px
