@import "./animations/animations"

.post
    display: flex
    flex-direction: row
    justify-content: center
    border-radius: 0px 30px 30px
    width: 85%
    border: 1px #ffd7d0 solid
    margin-bottom: 20px
    box-shadow: 10px 10px 10px 3px (#2f2f2f75 / 74%)
    animation: appear 1s linear ease-in-out
    animation: fadein 1s linear
    .data-post
        display: flex
        flex-direction: column
        .trashEdit
            display: flex
            justify-content: flex-end
            width: max-content
            .trash, .edit
                cursor: pointer
                color: #ffd7d0
            .trash
            &:hover
                color: #FD2D01
            .edit
            &:hover
                color: #4E5166
        .pseudo
            font-weight: bold
            color: #FD2D01
    .text-picture
        display: flex
        flex-direction: column
        align-items: center
        width: inherit
        img
            display: flex
            align-self: center
            object-fit: contain
            width: 20%
    .post-form
        .image
            display: flex
            justify-content: center
            width: 150px
        img
            display: flex
            justify-content: center
            object-fit: contain
            width: 50%
    .likeUnlike
        display: flex
        justify-content: center
        font-size: 20px
        width: 10%
        .like
            cursor: pointer
            color: #ffd7d0
            &:active
                animation: shadow-drop-center 1s ease 0s 1 normal none
        h4
            color: #4E5166
            margin: 0
        .unlike
            cursor: pointer
            color: #FD2D01
    .pseudo, .date, .trashEdit, .likeUnlike
        height: max-content
